/* box */
.box {
    margin-bottom: 20px;
}

    .box .box-heading {
        -webkit-border-radius: 7px 7px 0px 0px;
        -moz-border-radius: 7px 7px 0px 0px;
        /*-khtml-border-radius: 7px 7px 0px 0px;*/
        border-radius: 7px 7px 0px 0px;
        border: 1px solid #DBDEE1;
        background: url('../image/background.png') repeat-x;
        padding: 8px 10px 7px 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: bold;
        line-height: 14px;
        color: #333;
    }

    .box .box-content {
        background: #FFFFFF;
        -webkit-border-radius: 0px 0px 7px 7px;
        -moz-border-radius: 0px 0px 7px 7px;
        /*-khtml-border-radius: 0px 0px 7px 7px;*/
        border-radius: 0px 0px 7px 7px;
        border-left: 1px solid #DBDEE1;
        border-right: 1px solid #DBDEE1;
        border-bottom: 1px solid #DBDEE1;
        padding: 10px;
    }

.boss-alphabet {
    overflow: hidden;
}

    .boss-alphabet ul {
        padding-left: 0
    }

        .boss-alphabet ul li {
            list-style: none;
            width: 26px;
            height: 23px;
            display: inline;
            float: left;
            text-align: center;
            text-transform: uppercase
        }